/* Main style for resume site
 * Colors: #ECF8F5 (pale turquoise)
 *         #84C4B4 (darker turquoise)
 *         #2F156C (dark purple) */
html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    height: 100%;
    margin: 0;
}

body {
    background-color: #ECF8F5;
    display: flex;
    flex-direction: column;
}

#container {
    flex: 1 0 auto;
}

header {
    align-items: center;
    background-color: #2F156C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

main {
    padding: 20px;
    width: 50%;
    margin: auto;
}

h1 {
    color: #ECF8F5;
    flex: 1 0 600px;
    padding-left: 20px;
}

h2 {
    color: #2F156C;
}

hr {
    background-color: #84C4B4;
    border: none;
    height: 2px;
    width: 35%;
}

img {
    border-radius: 50%;
    flex: 0 1 150px;
    max-width: 125px;
    padding: 10px;
}

footer {
    background-color: #2F156C;
    color: #ECF8F5;
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}