/* Main style for resume site
 * Colors: #212121 (black)
 *         #00BCD4 (cyan)
 *         #D1C4E9 (pale purple)
 *         #673AB7 (mid purple)
 *         #512DA8 (dark purple) */
html, body {
    font-size: 18px;
    color: #212121;
}
main {
    padding: 20px 30px;
}
.nav-link {
    color: #D1C4E9;
}
.nav-link:hover {
    color: #FFFFFF;
}
.navbar {
    background-color: #673AB7;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #673AB7;
    color: #D1C4E9;
}
h2 {
    padding: 80px 0 10px 0;
    text-align: center;
    color: #512DA8;
}
h3 {
    color: #673AB7;
}

h3 a {
    color: #673AB7;
    text-decoration: underline;
}

h3 a:hover {
    text-decoration: none;
    color: #512DA8;
}
.container-fluid {
    width: 65%;
}
.navbar-brand {
    font-size: 1.5rem;
    color: #D1C4E9;
}
.navbar-brand:hover {
    color: #FFFFFF;
}
ul {
    list-style-type: none;
}
.skills-list li {
    padding: 10px 0;
}
.stars {
    float: right;
}
.skills {
    width: 60%;
    margin: auto;
}
.skill-col {
    padding: 0 50px;
}
.exp {
    width: 70%;
    margin: auto;
}
.exp thead {
    text-align: center;
    font-size: 1.1rem;
}
.view-more {
    background-color: #673AB7;
    color: #D1C4E9;
    margin-bottom: 10px;
}
.view-more:hover {
    background-color: #512DA8;
    color: #FFFFFF;
}
hr {
    border: none;
    border-bottom: 2px solid #00BCD4;
    width: 50%;
    padding-top: 50px;
}
p a {
    color: #512DA8;
    font-weight: bold;
}
p a:hover {
    color: #673AB7;
}
.social-media {
    text-align: center;
    font-size: 3rem;
}
.social-media a {
    padding: 0 10px;
}

@media only screen and (max-width: 1100px) {
    .container-fluid {
        width: 100%;
    }
    html, body {
        font-size: 16px;
    }
    main {
        padding: 20px 10px;
    }
    .skills {
        width: 90%;
    }
    .skill-col {
        padding: 0 10px;
    }
    .exp {
        width: 100%;
    }
}