/* Main style for resume site
 * Colors: 
 *         
 *         #E4E0E6 (light purple)
 *         #46264D (mid purple)
 *         #2B0734 (dark purple)
 *         #1B0421 (darkest purple (gradients)) */

 /* Base */

html, body {
    font-size: 18px;
    background-color: #2B0734;
    height: 100%;
    color: #E4E0E6;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    border-bottom: 5px dashed #E4E0E6;
    margin-top: 150px;
    width: 5%;
}

.container-fluid {
    flex: 1 0 auto;
    width: 60%;
    margin: auto;
    padding-top: 80px;
}

.fade-top {
    position: fixed;
    top: 80px;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(rgba(27, 4, 33, 1), rgba(27, 4, 33, 0));
}

.fade-bottom {
    position: fixed;
    bottom: 67px;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(rgba(27, 4, 33, 0), rgba(27, 4, 33, 1));
}

h1, h2, h3, h4 {
    font-family: Raleway, sans-serif;
}

a {
    color: #E4E0E6;
}

a:hover {
    color: #F8F7F9;
}

h2 {
    padding-top: 150px;
    padding-bottom: 20px;
    text-align: center;
}


/* Navigation */

nav {
    background: #1B0421;
}

.nav-link {
    color: #E4E0E6;
    text-shadow: 3px 3px 7px #604567;
    padding: 30px 30px 0 30px;
    font-size: 1.2rem;
    font-family: Raleway, sans-serif;
}

/* Skills */

.view-more {
    background-image: linear-gradient(#AFA2B3, #95839A);
    font-family: Raleway, sans-serif;
    color: #2B0734;
    font-weight: bold;
}

.view-more:hover {
    background-image: linear-gradient(#CAC1CC, #AFA2B3);
    color: #2B0734;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    box-shadow: 0px 0px 3px 1px #E4E0E6;
  }

/* Experience */

table {
    margin: auto;
    text-align: center;
}

td, th {
    color: #E4E0E6;
}

/* Contact */

#contact {
    padding-bottom: 200px;
}

#contact p {
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
}

#contact a {
    padding: 20px;
}

/* Footer */

footer {
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
    background: #1B0421;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    font-family: Raleway, sans-serif;
    color: #E4E0E6;
    text-shadow: 3px 3px 7px #604567;
}

/* Media Queries */

@media only screen and (max-width: 1100px) {

}